<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="simple">Simple form</a></li>
        <li class="nav-item"><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link" routerLink="reactive">Reactive form</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="example">Sample</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
